{% extends 'base.html.twig' %}

{% block title %}Mon compte | 16/9{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-15 pb-0">
        <div class="container">
            <div class="row justify-content-center pt-4">
                <div class="col-lg-7">
                    <div class="text-center mb-4">
                        <h1 class="mb-2">👋 {{ app.user.firstname }}</h1>
                        <div class="text-center mb-4">
                            {% if app.session.flashBag.has('success') %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success" role="alert">
                                        <p>
                                            {{ flashMessage }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                        <div class="bg-primary mb-4 text-white" style="border-radius: 1rem;">
                            <div class="text-center pb-2 pt-2 text-white">
                                <a href="{{ path('app_backoffice') }}" class="hover-arrow text-white" >Accéder au backoffice</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="text-center mb-4">
                        <h2 class="mb-2">Gérer <span style="color: #ff2e3d">mon compte</span></h2>
                    </div>
                    <div class="text-center mb-4">
                        {% if subscriber.isVerified == false and app.session.flashBag.has('verify_email_error') %}
                            {% for flashMessage in app.session.flashbag.get('verify_email_error') %}
                                <div class="alert alert-primary-2" role="alert">
                                    <p>
                                        ⚠️ Une erreur est survenue pendant la vérification de ton compte <br/>
                                        En cas de problème, <a href="mailto:fanny@seize9eme.fr" alt="Contacter 16/9">contacte-moi</a> :)
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if subscriber.isVerified == false and not app.session.flashBag.has('send_new_activation_code') %}
                            <div class="alert alert-primary-2" role="alert">
                                <p>
                                    ⚠️ Tu dois encore valider ton compte avant de recevoir 16/9<br/>
                                    Si tu n'as pas reçu de mail de confirmation, regarde dans tes spams ou demande un <a href="{{ path('app_send_new_activation_code') }}">nouveau lien d'activation</a>.
                                </p>
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('send_new_activation_code') and subscriber.isVerified == false  %}
                            {% for flashMessage in app.session.flashbag.get('send_new_activation_code') %}
                                <div class="alert alert-success send-new-activation-code" role="alert">
                                    <p>
                                        Un nouveau code d'activatation a été envoyé sur ton adresse {{ subscriber.email }} 🎉
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if subscriber.isVerified == true and app.session.flashBag.has('account_activated') %}
                            {% for flashMessage in app.session.flashbag.get('account_activated') %}
                                <div class="alert alert-success account-activated" role="alert">
                                    <p>
                                        Ton compte a bien été activé 🎉 <br /> Tu recevras très bientôt la prochaine newsletter 16/9 👀
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.flashBag.has('success') %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success" role="alert">
                                    <p>
                                        {{flashMessage}}
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.flashBag.has('cant_remove_account') %}
                            {% for flashMessage in app.session.flashbag.get('cant_remove_account') %}
                                <div class="alert alert-success" role="alert">
                                    <p>
                                        ⚠️ Une erreur est survenue pendant la suppression de ton compte<br/>
                                        En cas de problème, <a href="mailto:fanny@seize9eme.fr" alt="Contacter 16/9">contacte-moi</a> :)                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row justify-content-center pt-2 ml-1 mr-1">
                        <div class="bg-primary-alt" style="border-radius: 1rem;">
                            <table class="table table-borderless mt-2 mb-2" style="--bs-table-accent-bg: inherit">
                                <tbody>
                                    <tr>
                                        <td colspan="3"><strong>Mes informations personnelles</strong></td>
                                    </tr>
                                    <tr>
                                        <td><small>Prénom :</small></td>
                                    </tr>
                                    <tr>
                                        <td>{{ subscriber.firstname }}</td>
                                        <td></td>
                                        <td class="text-right"><a href="{{ path('app_update_user_infos') }}">modifier</a></td>
                                    </tr>
                                    <tr>
                                        <td><small>Email :</small></td>
                                    </tr>
                                    <tr>
                                        <td>{{ subscriber.email }}</td>
                                        <td></td>
                                        <td class="text-right"><a href="{{ path('app_update_email') }}">modifier</a></td>
                                    </tr>
                                    <tr>
                                        <td><small>Mot de passe :</small></th>
                                    </tr>
                                    <tr>
                                        <td>********</td>
                                        <td></td>
                                        <td class="text-right"><a href="{{ path('app_update_password') }}">modifier</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-3 pb-0">
        <div class="container">
            <div class="row justify-content-start pt-3">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>Mes <span style="color: #ff2e3d">préférences de réception</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row justify-content-center pt-0 pb-5 ml-1 mr-1">
                        <div class="row justify-content-center mt-4 bg-primary-alt" style="border-radius: 1rem;">
                            <table class="table table-borderless mt-2 mb-2" style="--bs-table-accent-bg: inherit">
                                <tbody>
                                    <tr>
                                        <td colspan="3"><strong>Mes plateformes de contenu</strong></td>
                                        <td colspan="2" class="text-right"><a href="{{ path('app_update_platforms') }}">modifier</a></td>
                                    </tr>
                                    {% for platform in subscriber.platforms %}
                                        <tr class="text-center">
                                            <td colspan="5"><img src="{{ asset('build/images/' ~ platform.name ~ '.png') }}"{{ platform.name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="pt-0 pb-6">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row justify-content-center pt-2">
                        <div class="row justify-content-center text-center pt-2">
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                        {% if app.user is defined and is_granted("ROLE_ADMIN") == false %}
                            <div class="row justify-content-center text-center pt-4">
                                <a href="#" class="text-black text-small" data-toggle="modal" data-target="#remove-account">Je ne souhaite plus recevoir 16/9</a>
                                <div class="modal fade" id="remove-account" tabindex="-1" role="dialog" aria-modal="true" style="top:20%!important;">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content col-lg-10" style="margin:auto;">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon bg-dark" data-src="assets/img/icons/interface/cross.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                                                        <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                                                    </svg>
                                                </button>
                                                <div class="m-2 text-center">
                                                    <div class="col-lg-10" style="margin: auto;">
                                                        <h5 class="mb-1">Me désabonner</h5>
                                                        <p>ℹ️ En te désabonnant, ton compte sera entièrement supprimé. Toutes tes données seront effacées et ne seront pas conservées. Tu pourras bien entendu te réinscrire à tout moment ! </p>
                                                    </div>
                                                    <div class="col-lg-8" style="margin: auto;">
                                                        <form action="{{ path('app_remove_account') }}" method="POST">
                                                            <div class="form-group">
                                                                <input type="password" name="password" placeholder="Entre ton mot de passe" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="hidden" name="token" value="{{ csrf_token('remove-account') }}"/>
                                                                <button type="submit" class="btn btn-primary text-white">
                                                                   Me désabonner et supprimer mon compte
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}
