{% extends 'base.html.twig' %}

{% block title %}Modifier mon adresse email | Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('update-email') }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-lg-4 col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="mb-2">Modifier mon <span style="color: #ff2e3d">adresse email</span></h1>
                        <div class="text-center mb-4">
                            {% if app.session.flashBag.has('error') %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="alert alert-primary" role="alert">
                                        <p>
                                            Formulaire invalide. <br/>En cas de problème, <a href="mailto:fanny@lerehausseur.fr" alt="Contacter Le Réhausseur">contacte-moi</a> :)
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if app.session.flashBag.has('success') %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success" role="alert">
                                        <p>
                                            {{ flashMessage }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center pt-2">
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <form action="{{ path('app_update_email') }}" method="POST" class="form">
                                <div class="form-group">
                                    <input id="email" type="email" name="email" placeholder="Ta nouvelle adresse email" class="form-control update-email">
                                    <small id="email-control-label" class="text-primary" style="display:none;">Adresse email invalide</small>
                                </div>
                                <div class="form-group">
                                    <button id="update-email-btn" class="btn-block btn btn-primary text-white" type="button">Modifier mon adresse email</button>
                                </div>
                                <input type="hidden" name="token" value="{{ csrf_token('update-email') }}"/>
                            </form>
                        </div>
                        <a class="text-primary mt-3 text-center" href="{{ path('app_account') }}">Retour à mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}

