{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}

    {% include './partials/header.html.twig' %}

    <section class="pt-3 bg-primary-alt has-divider">
      <div class="container" style="padding-bottom: 0;">
        <div class="row justify-content-center text-center">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">Des films à la<br> <span style="color: #ff2e3d"> hauteur des enfants</span></h1>
            <h6>Abonne-toi à la newsletter Le Réhausseur et reçois régulièrement une sélection de films à regarder, spécialement choisis pour tes enfants ✉ 🎥 🧒 </h6>
            <form action="{{ path('app_sign_up') }}" method="GET">
              <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
                <input class="form-control form-control-lg" type="text" placeholder="Ton adresse email" name="email">
              </div>
              <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
                <button class="mx-1 btn btn-lg btn-primary text-white mt-sm-0" type="submit">Je m'abonne !</button>
              </div>
            </form>
            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-4 mb-3">
              <small class="font-weight-light">
                Le Réhausseur s’engage à ne jamais transmettre ton adresse e-mail à des fins promotionnelles.
                <br/>
                Tu pourras te désinscrire à tout moment en un clic.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg" data-src="/build/images/dividers/divider-2.svg">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
      </svg>
      </div>

    </section>
    <section style="padding-bottom: 0;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 text-center">
            <h2 class="display-4 mx-xl-6">Pourquoi choisir<br> <span style="font-family: 'Grand Hotel'; color: #ff2e3d">Le Réhausseur</span> ?</h2>
          </div>
        </div>
        <div class="row justify-content-between align-items-center my-6">
          <div class="col-md-5 col-lg-5 mb-4 mb-md-0">
            <div class="row justify-content-center">
                  <img style="width: 22rem; transform: rotate(-5deg);" src={{ asset('build/images/phone-1.webp') }} alt="newsletter"/>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-xl-6">
            <div class="d-flex mb-4 feature">
              <div class="process-circle bg-primary-3">⏱️</div>
              <div class="ml-3-desktop">
                <h5>Gagne du temps</h5>
                <p>
                  Grâce au Réhausseur, ne perds plus ton temps à rechercher le film idéal pour tes enfants. Reçois des recommandations de films directement
                  dans ta boîte mail : TV, internet, Netflix, Disney+, cinéma... tous les médias sont passés au peigne fin.
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature" >
              <div class="process-circle bg-primary-3">🧒</div>
              <div class="ml-3-desktop">
                <h5>Des contenus adaptés et personnalisés</h5>
                <p>
                  Nos sélections de films sont faites par une professionnelle du cinéma jeune public, s'adaptent automatiquement à l'âge de tes enfants, et aux plateformes de streaming payantes auxquelles
                  tu es éventuellement abonné(e) (Netflix et Disney+).
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature" >
              <div class="process-circle bg-primary-3">❤️</div>
              <div class="ml-3-desktop">
                <h5> Les événements cinéma à partager en famille</h5>
                <p>
                  Tu recevras également les sorties de films pour enfants à ne pas manquer au cinéma, mais aussi des événements
                  auxquels participer autour de chez toi (avant-premières, festivals...).
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature " >
              <div class="process-circle bg-primary-3">🎥</div>
              <div class="ml-3-desktop">
                <h5>Prends de la hauteur</h5>
                <p>
                  Montre des films qui feront grandir tes enfants ! Que ce soit un grand classique du cinéma ou la nouveauté à ne pas rater,
                  Le Réhausseur te donnera toutes les raisons de les (re)visionner.
                </p>
              </div>
            </div>
            <span class="feature"><a href="#" class="hover-arrow" data-toggle="modal" data-target="#discover-modal">Découvre à quoi ressemble la newsletter du Réhausseur</a>
            </span>
            <div class="modal fade" id="discover-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <img class="icon bg-dark" src="{{ asset('build/images/icons/interface/cross.svg') }}" alt="cross interface icon" data-inject-svg />
                    </button>
                    <div class="m-3">
                      <ul class="avatars justify-content-center">
                        <li>
                          <img src="{{ asset('build/images/avatars/team-1.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                        <li>
                          <img src="{{ asset('build/images/avatars/team-2.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                        <li>
                          <img src="{{ asset('build/images/avatars/team-3.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                      </ul>
                      <div class="text-center my-3">
                        <h4 class="h3 mb-1">Pre-sales Questions</h4>
                        <p>
                          Please get in touch for any questions you may have. We typically reply within 24 hours.
                        </p>
                      </div>
                      <form novalidate>
                        <div class="form-group">
                          <input type="text" class="form-control" name="contact-name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="contact-email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                          <textarea name="contact-box-message" rows="5" class="form-control" placeholder="Type your message here" required></textarea>
                        </div>
                        <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE"></div>
                        <div class="d-none alert alert-danger" role="alert" data-error-message>
                          Please fill all fields correctly.
                        </div>
                        <div class="d-none alert alert-success" role="alert" data-success-message>
                          Thanks, a member of our team will be in touch shortly.
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-loading" data-loading-text="Sending">
                          <img class="icon" src="{{ asset('build/images/icons/theme/code/loading.svg') }}" alt="loading icon" data-inject-svg />
                          <span>Send</span>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-3 has-divider"  style="background-color: #fff2f3 !important;">
      <div class="divider flip-y">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg bg-white" data-src="assets/img/dividers/divider-1.svg">
            <path d="M0,0 C40,33 66,52 75,52 C83,52 92,33 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
      </div>
      <div class="container mb-3 pb-3">
        <div class="row justify-content-center">
          <div class="col-xl-9 text-center">
            <h2 class="display-4 mx-xl-6">Les réponses à  <span style="color: #ff2e3d">tes questions</span></h2>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="my-4">
              <div class="card card-sm card-body shadow-3d mb-4">
                <div data-target="#panel-1" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Qui se cache derrière Le Réhausseur ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-1" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-4">
                <div data-target="#panel-2" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Combien ça coûte ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-2" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-4">
                <div data-target="#panel-5" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Et si je veux me désabonner ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-5" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-4">
                <div data-target="#panel-8" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Comment modifier mon e-mail, mon mot de passe ou mes informations personnelles ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-8" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-0">
                <div data-target="#panel-11" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Comment Le Réhausseur respecte ma vie privée ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-11" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider">
        <svg class="bg-white" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
      </div>
     </section>


    {% include './partials/footer.html.twig' with {'background':'bg-white', 'hasDivider': false} %}

{% endblock %}
