{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}

    {% include './partials/header.html.twig' %}
    <section class="pt-6 bg-primary-alt has-divider">
      <div class="container" style="padding-bottom: 0;">
        <div class="row justify-content-center text-center">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">La newsletter des <span style="color: #ff2e3d"> films cultes</span> à voir directement depuis ton canapé 🍿</h1>
            <h6>Abonne-toi, c'est gratuit ! </h6>
            <form action="{{ path('app_sign_up') }}" method="GET">
              <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
                <input class="form-control form-control-lg" type="text" placeholder="Ton adresse email" name="email">
              </div>
              <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
                <button class="mx-1 btn btn-lg btn-primary text-white mt-sm-0" type="submit">Je m'abonne !</button>
              </div>
            </form>
            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-4 mb-3">
              <small class="font-weight-light">
                16/9 s’engage à ne jamais transmettre ton adresse e-mail à des fins promotionnelles.
                <br/>
                Tu pourras te désinscrire à tout moment en un clap 🎬
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg" data-src="/build/images/dividers/divider-2.svg">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
      </svg>
      </div>

    </section>
    <section style="padding-bottom: 0;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 text-center">
            <h2 class="display-4 mx-xl-6">Pourquoi choisir<br> <span style="color: #ff2e3d">16/9</span> ?</h2>
          </div>
        </div>
        <div class="row justify-content-between align-items-center my-6">
          <div class="col-md-5 col-lg-5 mb-4 mb-md-0">
            <div class="row justify-content-center">
                  <img style="width: 22rem; transform: rotate(-5deg);" src={{ asset('build/images/phone-1.png') }} alt="newsletter"/>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-xl-6">
            <div class="d-flex mb-4 feature">
              <div class="process-circle bg-primary-3">⏱️</div>
              <div class="ml-3-desktop">
                <h5>Gagne du temps</h5>
                <p>
                  Ne perds plus ton temps à rechercher le film idéal. Reçois des recommandations de films directement
                  dans ta boîte mail : TNT, Netflix, Prime Vidéo, Disney+, MyCanal... les principales plateformes de diffusion sont passées au peigne fin.
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature" >
              <div class="process-circle bg-primary-3">👌</div>
              <div class="ml-3-desktop">
                <h5>Des contenus personnalisés</h5>
                <p>
                  Nos sélections de films sont faites par une professionnelle du cinéma, et s'adaptent automatiquement aux plateformes de contenu à ta disposition.
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature" >
              <div class="process-circle bg-primary-3">🧠</div>
              <div class="ml-3-desktop">
                <h5>Cultive-toi</h5>
                <p>
                 À travers des films qui ont marqué l'histoire du cinéma. Que tu aimes regarder des films juste pour le plaisir, ou que tu souhaites élargir ta culture G pour briller en société !
                </p>
              </div>
            </div>
            <div class="d-flex mb-4 feature " >
              <div class="process-circle bg-primary-3">❤️</div>
              <div class="ml-3-desktop">
                <h5>C'est gratuit</h5>
                <p>
                  Et pour toujours !
                </p>
              </div>
            </div>
            <div class="modal fade" id="discover-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <img class="icon bg-dark" src="{{ asset('build/images/icons/interface/cross.svg') }}" alt="cross interface icon" data-inject-svg />
                    </button>
                    <div class="m-3">
                      <ul class="avatars justify-content-center">
                        <li>
                          <img src="{{ asset('build/images/avatars/team-1.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                        <li>
                          <img src="{{ asset('build/images/avatars/team-2.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                        <li>
                          <img src="{{ asset('build/images/avatars/team-3.jpg') }}" alt="Avatar" class="avatar avatar-lg">
                        </li>
                      </ul>
                      <div class="text-center my-3">
                        <h4 class="h3 mb-1">Pre-sales Questions</h4>
                        <p>
                          Please get in touch for any questions you may have. We typically reply within 24 hours.
                        </p>
                      </div>
                      <form novalidate>
                        <div class="form-group">
                          <input type="text" class="form-control" name="contact-name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="contact-email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                          <textarea name="contact-box-message" rows="5" class="form-control" placeholder="Type your message here" required></textarea>
                        </div>
                        <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE"></div>
                        <div class="d-none alert alert-danger" role="alert" data-error-message>
                          Please fill all fields correctly.
                        </div>
                        <div class="d-none alert alert-success" role="alert" data-success-message>
                          Thanks, a member of our team will be in touch shortly.
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-loading" data-loading-text="Sending">
                          <img class="icon" src="{{ asset('build/images/icons/theme/code/loading.svg') }}" alt="loading icon" data-inject-svg />
                          <span>Send</span>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-3 has-divider"  style="background-color: #fff2f3 !important;">
      <div class="divider flip-y">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg bg-white" data-src="assets/img/dividers/divider-1.svg">
            <path d="M0,0 C40,33 66,52 75,52 C83,52 92,33 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
      </div>
      <div class="container mb-3 pb-3">
        <div class="row justify-content-center">
          <div class="col-xl-9 text-center">
            <h2 class="display-4 mx-xl-6">Les réponses à  <span style="color: #ff2e3d">tes questions</span></h2>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="my-4">
              <div class="card card-sm card-body shadow-3d mb-3">
                <div data-target="#panel-1" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Qui se cache derrière 16/9 ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-1" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Je m'appelle Fanny, et je suis la fondatrice du 16/9. C'est moi qui recherche les meilleurs films pour toi. J'ai travaillé pendant des années dans la programmation pour des salles de cinéma.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-3">
                <div data-target="#panel-2" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">À qui s'adresse 16/9 ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-2" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      À tout le monde :<br/><br/>
                      - Si tu aimes regarder des films, juste pour le plaisir.<br/>
                      - Si tu aimes élargir ta culture G, et connaître quelques petites anecdotes ciné à ressortir en soirée.<br/>
                      - Si tu veux être sûr-e que les films que tu regardes aient un réel intérêt, car ils ont tout simplement marqué l’histoire du cinéma pour différentes raisons qui te seront d’ailleurs données.<br/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-3">
                <div data-target="#panel-3" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Combien ça coûte ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-3" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      C'est totalement gratuit !
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-3">
                <div data-target="#panel-4" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Et si je veux me désabonner ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-4" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Tu pourras te désabonner à tout moment en un clap directement <a href="{{ path('app_account') }}">depuis ton compte</a>. En te désabonnant, ton compte sera supprimé et tes données automatiquement effacées.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card-sm card-body shadow-3d mb-0">
                <div data-target="#panel-5" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Comment 16/9 respecte ma vie privée ?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon" data-src="assets/img/icons/interface/plus.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>
                </div>
                <div class="collapse" id="panel-5" style="">
                  <div class="pt-3">
                    <p class="mb-0">
                      Le respect de la vie privée est un sujet auquel j'accorde beaucoup d'importance ! En t'inscrivant au 16/9, tu as la garantie qu'aucune de tes informations personnelles ne sera utilisée par d'autres personnes que par nous. Et lorsque nous les utilisons, c'est dans l'unique but de personnaliser au maximum le contenu de ta newsletter ! 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider">
        <svg class="bg-white" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
      </div>
     </section>


    {% include './partials/footer.html.twig' with {'background':'bg-white', 'hasDivider': false} %}

{% endblock %}
