<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light border-bottom-0 bg-white" data-sticky="top">
    <div class="container">
        <div class="col flex-fill px-0 d-flex justify-content-between">
        <a class="navbar-brand mr-0 fade-page logo" href="{{ path('app_home') }}">
            Le Réhausseur
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <img class="icon navbar-toggler-open" src="{{ asset('build/images/icons/interface/menu.svg') }}" alt="menu interface icon" data-inject-svg />
            <img class="icon navbar-toggler-close" src="{{ asset('build/images/icons/interface/cross.svg') }}" alt="cross interface icon" data-inject-svg />
        </button>
        </div>
        <div class="navbar-collapse justify-content-end align-items-center collapse">
        <div class="py-2 py-lg-0">
            <ul class="navbar-nav align-items-center">
            {#
            <li class="nav-item dropdown">
                <a href="#" class="btn btn-primary-2 ml-lg-3 text-white dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Offrir</a>
            </li>
            #}
            {% if is_granted('ROLE_USER') == false %}
                <li class="nav-item dropdown">
                    <a href="{{ path('app_sign_up') }}" class="btn btn-primary text-white ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">S'abonner</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{ path('app_sign_in') }}" class="ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true"><img class="icon" src="{{ asset('build/images/icons/theme/general/user.svg') }}" alt="decoration" data-inject-svg /> Connexion</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a href="{{ path('app_dashboard') }}" class="ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true"><img class="icon" src="{{ asset('build/images/icons/theme/general/user.svg') }}" alt="decoration" data-inject-svg /> Mon compte</a>
                </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </div>
    </nav>
</div>
