<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light border-bottom-0 bg-white" data-sticky="top">
    <div class="container">
        <div class="col flex-fill px-0 d-flex justify-content-between">
        <a class="navbar-brand mr-0 fade-page logo" href="{{ path('app_home') }}">
            <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="Logo 16/9"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <img class="icon navbar-toggler-open" src="{{ asset('build/images/icons/interface/menu.svg') }}" alt="menu interface icon" data-inject-svg />
            <img class="icon navbar-toggler-close" src="{{ asset('build/images/icons/interface/cross.svg') }}" alt="cross interface icon" data-inject-svg />
        </button>
        </div>
        <div class="navbar-collapse justify-content-end align-items-center collapse">
        <div class="py-4 py-lg-0">
            <ul class="navbar-nav align-items-center">
            {#
            <li class="nav-item dropdown">
                <a href="#" class="btn btn-primary-2 ml-lg-3 text-white dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Offrir</a>
            </li>
            #}
            {% if app.user is defined and is_granted('ROLE_USER') == false %}
                <li class="nav-item dropdown">
                    <a href="{{ path('app_sign_up') }}" class="btn btn-primary text-white ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">S'abonner</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{ path('app_sign_in') }}" class="ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true"><img class="icon" src="{{ asset('build/images/icons/theme/general/user.svg') }}" alt="decoration" data-inject-svg /> Connexion</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a href="{{ path('app_account') }}" class="ml-lg-3 dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true"><img class="icon" src="{{ asset('build/images/icons/theme/general/user.svg') }}" alt="decoration" data-inject-svg /> Mon compte</a>
                </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </div>
    </nav>
</div>
{% if app.request.cookies.has('cookies') == false %}
    <div class="modal fade" id="cookies-modal" tabindex="-1" role="dialog" style="width: fit-content !important; display: flex !important; top: inherit !important; overflow-y: auto; justify-content: center;" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="position: fixed; bottom: 5rem; right: 1%; left: 1%;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex m-2 align-items-center">
                        <div class="mx-3">
                            👋 En poursuivant ta navigation sur 16/9, tu acceptes le dépôt de cookies pour recueillir des données à des fins uniquement statistiques. Voir notre <a href="{{ path('app_privacy_policy') }}">politique de confidentialité</a>.
                        </div>
                        <button class="btn btn-primary text-white" data-dismiss="modal" id="cookies-modal-close">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
