{% extends 'base.html.twig' %}

{% block title %}Connexion | Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sign-in') }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-lg-5 col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="mb-2"><span style="color: #ff2e3d">Connexion</span></h1>
                    </div>
                    <div class="text-center mb-4">
                        {% if error %}
                            <div class="alert alert-primary" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center pt-2">
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <form action="{{ path('app_sign_in') }}" method="POST" class="form">
                                <div class="form-group">
                                    <input id="email" type="email" name="_username" placeholder="Ton adresse email" class="form-control sign-in" value="{{ last_username }}">
                                    <small id="email-control-label" class="text-primary" style="display:none;">Adresse email invalide</small>
                                </div>
                                <div class="form-group">
                                    <input id="password" type="password" name="_password" placeholder="Mot de passe" class="form-control sign-in">
                                    <small id="password-control-label" class="text-primary" style="display:none;">Le mot de passe doit faire au moins 8 caractères</small>
                                    <small>
                                        <a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="_target_path" value="/mon-compte"/>
                                    <button id="sign-in-btn" class="btn-block btn btn-primary text-white sign-in-btn" type="button">Connexion</button>
                                </div>
                                <hr>
                                <div class="text-center text-small text-muted">
                                    <span>
                                        Toujours pas de compte ? 👉 <a href="{{ path('app_sign_up') }}">Inscris toi</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}
