{% extends 'base.html.twig' %}

{% block title %}Modifier mes plateformes de streaming Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('update-user-infos') }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-lg-4 col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="mb-2">Modifier mes <span style="color: #ff2e3d">plateformes de streaming</span></h1>
                        <div class="text-center mb-4">
                            {% if app.session.flashBag.has('error') %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="alert alert-primary" role="alert">
                                        <p>
                                            Formulaire invalide. <br/>En cas de problème, <a href="mailto:contact@lerehausseur.fr" alt="Contacter Le Réhausseur">contactez-nous</a> :)
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if app.session.flashBag.has('success') %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success" role="alert">
                                        <p>
                                            {{ flashMessage }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center pt-2">
                        <div class="col-xl-4 col-lg-5 col-md-6 text-center">
                            <form action="{{ path('app_update_platforms') }}" method="POST">
                                <small>En plus des supports gratuits, y a-t-il des plateformes de streaming payantes sur lesquelles tu aimerais recevoir des idées de film à regarder ?</small><br/><br/>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input name="streaming[]" value="Netflix" type="checkbox" class="custom-control-input" id="netflix" {% for platform in app.user.platforms %} {% if platform.name == 'Netflix' %} checked {% endif %} {% endfor %}>
                                    <label class="custom-control-label" for="netflix"><img src="{{ asset('build/images/Netflix.png') }}" /></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input name="streaming[]" value="Disney" type="checkbox" class="custom-control-input" id="disney" {% for platform in app.user.platforms %} {% if platform.name == 'Disney' %} checked {% endif %} {% endfor %}>
                                    <label class="custom-control-label" for="disney"><img src="{{ asset('build/images/Disney.png') }}" /></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input name="streaming[]" value="Prime" type="checkbox" class="custom-control-input" id="prime" {% for platform in app.user.platforms %} {% if platform.name == 'Prime' %} checked {% endif %} {% endfor %}>
                                    <label class="custom-control-label" for="prime"><img src="{{ asset('build/images/Prime.png') }}" /></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input name="streaming[]" value="Canal" type="checkbox" class="custom-control-input" id="canal" {% for platform in app.user.platforms %} {% if platform.name == 'Canal' %} checked {% endif %} {% endfor %}>
                                    <label class="custom-control-label" for="canal"><img src="{{ asset('build/images/Canal.png') }}" /></label>
                                </div>
                                <div class="form-group">
                                    <button class="btn-block btn btn-primary text-white" id="btn-update-platforms">Modifier mes plateformes de streaming</button>
                                </div>
                            </form>
                                <a class="text-primary " href="{{ path('app_dashboard') }}">Retour à mon compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}

