{% extends 'base.html.twig' %}

{% block title %}Programmer une campagne | Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add-campaign') }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-lg-4 col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="mb-2">Programmer une <span style="color: #ff2e3d">campagne</span></h1>
                        <div class="text-center mb-4">
                            {% if app.session.flashBag.has('invalid_form') %}
                                {% for flashMessage in app.session.flashbag.get('invalid_form') %}
                                    <div class="alert alert-primary" role="alert">
                                        <p>
                                            <strong>Formulaire invalide.</strong> <br/>
                                            Vérifiez l'identifiant du template et la date d'envoi...
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if app.session.flashBag.has('success') %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success" role="alert">
                                        <p>
                                            {{ flashMessage }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center pt-2">
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <form action="{{ path('app_add_campaign') }}" method="POST" class="form">
                                <div class="form-group">
                                    <input name="template-id" type="number" min="0" id="template-id" class="form-control add-campaign-form" placeholder="Identifiant du template">
                                    <small id="campaign-template-id-control-label" class="text-primary" style="display:none;">Identifiant invalide</small>
                                </div>
                                <div class="form-group">
                                    <label for="campaign-sending-date" class="text-primary-alt"><small>Date d'envoi :</small></label>
                                    <input name="campaign-sending-date" id="campaign-sending-date" type="date" class="form-control add-campaign-form">
                                    <small id="campaign-sending-date-control-label" class="text-primary" style="display:none;">Date invalide</small>
                                </div>
                                <div class="form-group">
                                    <button class="btn-block btn btn-primary text-white" id="btn-add-campaign-form" type="button">Programmer une campagne</button>
                                </div>
                                <input type="hidden" name="token" value="{{ csrf_token('add-campaign') }}"/>
                            </form>
                        </div>
                        <a class="text-primary mt-3 text-center" href="{{ path('app_backoffice') }}">Retour au backoffice</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}

