{% extends 'base.html.twig' %}

{% block title %}Mon compte - Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-6 pb-0">
        <div class="container">
            <div class="row justify-content-center pt-4">
                <div class="text-center mb-4">
                    <h1 class="mb-2">🔒 Backoffice</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-sm card-body flex-row align-items-center justify-content-center">
                            <div class="text-primary text-bold font-weight-bold" style="font-size:2rem;">
                                {{ nbOfSubscribers }}
                            </div>
                            <div class="ml-3">
                                <h6 class="mb-0">Nombre d'abonnés</h6>
                                <span class="font-weight-bold">(+{{ nbOfSubscribersThisMonth}} ce mois-ci)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-sm card-body flex-row align-items-center justify-content-center">
                            <div class="text-primary text-bold font-weight-bold" style="font-size:2rem;">
                                {{ nbOfSubscribersForNetflix }}
                            </div>
                            <div class="ml-3">
                                <h6 class="mb-0">Nombre d'abonnés Netflix</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-sm card-body flex-row align-items-center justify-content-center">
                            <div class="text-primary text-bold font-weight-bold" style="font-size:2rem;">
                                {{ nbOfSubscribersForDisney }}
                            </div>
                            <div class="ml-3">
                                <h6 class="mb-0">Nombre d'abonnés Disney</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-0">
        <div class="container">
            <div class="row justify-content-center pt-4">
                <div class="text-center mb-4">
                    <h2 class="mb-2">Campagnes <span style="color: #ff2e3d">à envoyer</span></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-3 pb-0">
        <div class="container">
            <div class="row justify-content-center pt-4">
                <div class="text-center mb-4">
                    <h2 class="mb-2">Campagnes <span style="color: #ff2e3d">envoyées</span></h2>
                </div>
            </div>
        </div>
    </section>
    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}
