{% extends 'base.html.twig' %}

{% block title %}S'abonner à la newsletter | 16/9{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sign-up') }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-15">
      <div class="container">
        <div class="row justify-content-center pt-6">
          <div class="col-lg-5 col-md-6">
            <div class="text-center mb-4">
                <h1 class="mb-2">S'abonner à la newsletter <span style="color: #ff2e3d">16/9</span> </h1>
                <span>Afin de t'envoyer des contenus personnalisés, j'ai d'abord besoin de te connaître un peu mieux...</span>
            </div>
            <div class="text-center mb-4">
              {% if user_already_exist is defined %}
                <div class="alert alert-primary invalid-form" role="alert">
                  L'adresse email {{ user_already_exist }} est déjà abonnée au 16/9 👉 <a href="{{ path('app_sign_in', {'email': user_already_exist }) }}" alt="Connexion">Je me connecte</a>
                </div>
              {% elseif error is defined %}
                <div class="alert alert-primary invalid-form" role="alert">
                  Formulaire invalide. <br/>En cas de problème, <a href="mailto:fanny@seize9eme.fr" alt="Contacter 16/9">contacte-moi</a> :)
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form method="POST" id="sign-up-form" class="wizard sw-main sw-theme-default sign-up-form">
              <ul class="d-flex step-circles justify-content-center mb-5 nav nav-tabs step-anchor">
                <li class="nav-item active"><a class="nav-link btn" href="#etape-1">1</a>
                </li>
                <li class="nav-item"><a class="nav-link btn" href="#etape-2">2</a>
                </li>
                <li class="nav-item"><a class="nav-link btn" href="#etape-3">3</a>
              </ul>
              <div class="sw-container tab-content" style="min-height: 232px;">
                <div id="etape-1" class="active tab-pane step-content" style="">
                  <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6">
                      <div class="form-group">
                        <input name="email" id="email" type="email" class="sign-up-form form-control step-1" placeholder="Ton adresse email" {% if email is defined and email is not null %}value="{{ email }}"{% endif %}>

                        <small id="email-control-label" class="text-primary" style="display:none;">Adresse email invalide</small>
                        <small id="email-control-label" class="text-primary" style="display:none;">Cette adresse email est déjà utilisée</small>
                      </div>
                      <div class="form-group">
                        <input name="password" id="password" type="password" class="sign-up-form form-control step-1" placeholder="Ton mot de passe">
                        <small id="password-control-label" class="text-primary" style="display:none;">Le mot de passe doit faire au moins 8 caractères</small>
                      </div>
                      <div class="form-group">
                        <input name="confirm-password" id="confirm-password" type="password" class="sign-up-form form-control step-1" placeholder="Confirme ton mon de passe">
                        <small id="confirm-password-control-label" class="text-primary" style="display:none;">Le mot de passe doit être identique</small>
                      </div>
                      <button class="btn btn-primary sw-btn-next text-white btn-block" id="btn-step-1" type="button">Suivant</button>
                    </div>
                  </div>
                </div>
                <div id="etape-2" class="tab-pane step-content">
                  <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6">
                      <div class="form-group">
                        <input name="firstname"  id="firstname" type="text" class="sign-up-form form-control step-2" placeholder="Ton prénom">
                        <small id="firstname-control-label-too-short" class="text-primary" style="display:none;">C'est un peu court :)</small>
                        <small id="firstname-control-label-too-long" class="text-primary" style="display:none;">C'est un peu long :)</small>                      </div>
                      <small>En sachant dans quelle ville tu habites, je pourrais t'envoyer des actualités sur les évennements dans ta région (festivals...) :</small><br/><br/>
                      <div class="form-group">
                        <input name="city"  id="city" class="sign-up-form form-control step-2" list="city-datalist" placeholder="Ta ville">
                        <small id="city-control-label" class="text-primary" style="display:none;">Dis-moi où tu habites</small>
                        <datalist id="city-datalist">
                        </datalist>
                        <input name="city-details"  id="city-details" class="sign-up-form form-control" hidden>
                      </div>
                      <button class="btn btn-primary sw-btn-next text-white btn-block" id="btn-step-2" type="button">Suivant</button>
                    </div>
                  </div>
                </div>
                <div id="etape-3" class="tab-pane step-content">
                  <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6">
                      <small>En plus des supports gratuits, y a-t-il des plateformes de streaming payantes sur lesquelles tu aimerais recevoir des idées de film à regarder ?</small><br/><br/>
                      <div class="custom-control custom-checkbox mb-3" style="padding-left: 0 !important">
                        <div class="card_area">
                          <input class="checkbox" type="checkbox" id="tnt"  name="streaming[]" value="Tnt" />
                          <div class="single_card">
                            <div class="card_content">
                              <div class="card_icon">
                                <img src="{{ asset('build/images/Tnt.png') }}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom-control custom-checkbox mb-3" style="padding-left: 0 !important">
                        <div class="card_area">
                          <input class="checkbox" type="checkbox" id="netflix"  name="streaming[]" value="Netflix" />
                          <div class="single_card">
                            <div class="card_content">
                              <div class="card_icon">
                                <img src="{{ asset('build/images/Netflix.png') }}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom-control custom-checkbox mb-3" style="padding-left: 0 !important">
                        <div class="card_area">
                          <input class="checkbox" type="checkbox" id="prime"  name="streaming[]" value="Prime" />
                          <div class="single_card">
                            <div class="card_content">
                              <div class="card_icon">
                                <img src="{{ asset('build/images/Prime.png') }}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom-control custom-checkbox mb-3" style="padding-left: 0 !important">
                        <div class="card_area">
                          <input class="checkbox" type="checkbox" id="disney"  name="streaming[]" value="Disney" />
                          <div class="single_card">
                            <div class="card_content">
                              <div class="card_icon">
                                <img src="{{ asset('build/images/Disney.png') }}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="custom-control custom-checkbox mb-3" style="padding-left: 0 !important">
                        <div class="card_area">
                          <input class="checkbox" type="checkbox" id="canal"  name="streaming[]" value="Canal" />
                          <div class="single_card">
                            <div class="card_content">
                              <div class="card_icon">
                                <img src="{{ asset('build/images/Canal.png') }}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block text-white" id="sign-up-form-submit" type="submit">Je crée mon compte</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}
